<div class="card bg-body-secondary border-0 mb-3">
  <div class="card-body pb-0">
    <h5 class="card-title">
      <i class="bi bi-person-fill text-danger"></i> {{participant.fullName}}
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-body-secondary">
      <i class="bi bi-envelope text-danger"></i> {{participant.email}}
    </li>
    <li class="list-group-item bg-body-secondary">
      <i class="bi bi-globe-central-south-asia text-danger"></i> {{participant.country}}
    </li>
    <li class="list-group-item bg-body-secondary">
      <i class="bi bi-github text-danger"></i> {{participant.gitHubLink}}
    </li>
  </ul>
</div>