<div>
  <h4 class="mb-4">
    <i class="bi bi-suit-heart-fill text-danger"></i> About
  </h4>
  <p class='lead fw-semibold'>Welcome to our Hac<span class='text-danger'>Knight</span>, where innovation meets collaboration!</p>
  <p>We are here to empower creative minds, unite passionate problem solvers, and foster a dynamic environment for turning ideas into reality.</p>
  <p>Whether you are a coder, designer, or visionary, join us on this exciting journey of ideation, development, and camaraderie. Let us hack together and create a future that is both inspiring and impactful.</p>

  <p>Angular: <a href='https://angular.dev/' target='_blank'>angular.dev</a>.</p>
  <p>Hackathon Version: <span class='badge bg-secondary'>1.0.0</span></p>
</div>