<form>
  <div class="mb-3">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Full Name"
      name="fullName"
      [(ngModel)]="fullName"
    />
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Email"
      name="email"
      [(ngModel)]="email"
    />
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Country"
      name="country"
      [(ngModel)]="country"
    />
    <input
      type="text"
      class="form-control mb-2"
      placeholder="GitHub"
      name="github"
      [(ngModel)]="github"
    />
  </div>
  <button class="btn btn-danger me-2" type="submit" (click)="onSubmit($event)">
    <i class="bi bi-door-open-fill"></i> Register
  </button>
  <button class="btn btn-dark" type="reset">
    <i class="bi bi-arrow-clockwise"></i> Reset
  </button>
</form>