<div id="carousel" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="wallpaper-1.jpg"
        class="d-block w-100 rounded-5"
        alt="wallpaper 1"
      />
      <div class="carousel-caption">
        <h1>Unleash Your Codecraft</h1>
        <p class="d-none d-md-block">
          Join HacKnight: Where Innovation Meets the Knight Code
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="wallpaper-2.jpg"
        class="d-block w-100 rounded-5"
        alt="wallpaper 2"
      />
      <div class="carousel-caption">
        <h1>Forge into Reality</h1>
        <p class="d-none d-md-block">
          HacKnight: Your Gateway to Hack and Conquer
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="wallpaper-3.jpg"
        class="d-block w-100 rounded-5"
        alt="wallpaper 3"
      />
      <div class="carousel-caption">
        <h1>Hack with Honor</h1>
        <p class="d-none d-md-block">
          HacKnight: Defend Challenges, Embrace Solutions
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev">
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next">
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row mt-4 gy-4">
  <div class="col-md">
    <div class="p-5 text-center bg-danger-subtle rounded-4">
      <h1 class="display-1 fw-bolder text-danger">
        <i class="bi bi-person-hearts"></i>
      </h1>
      <h1 class="fw-bolder text-danger">
        <span>{{participants.length}}</span> Knights
      </h1>
      <p>Clock is ticking. Hurry up! </p>
    </div>
  </div>
  <div class="col-md">
    <div class="p-5 text-center bg-body-secondary rounded-4">
      <h1 class="display-1 fw-bolder text-danger">
        <i class="bi bi-globe-central-south-asia"></i>
      </h1>
      <h1 class="fw-bolder text-danger">Global</h1>
      <p>
        Participants from <span *ngFor="let  country of getUniqueCountries()" style="color: blueviolet;"> {{ country }} </span> -- <p class="fw-bolder text-danger"> {{ getUniqueCountries().length}} Countries
      </p>
    </div>
  </div>
</div>